* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:#ffffff;
    overflow: hidden;
}

ul {
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.menuopt {
    margin-top: 5vh;
}

li {
    text-align: center;
    margin: 15px;
    font-size: 20pt;
}

li a {
    color: #002e45;
    text-decoration: none;
}

li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.cta {
    display: block;
    text-align: center;
    margin-top: 5vh;
}

.cta a {
    background-color: #002e45;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 25px;
    border: black solid 2px;
    box-shadow: 2px 2px 2px gray;
    font-size: 20pt;
}

.cta a:hover {
    opacity: 80%;
}

.logo {
    background-color: rgb(255, 255, 255);
}

.logoclass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.food {
    display: block;
    background-color: #3089a9;

}

.food img {
    width: 1650px;
    margin-left: 15.2vw;
    position: relative;
    top: -400px;
    left: px;
    padding: 0;
}
